@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root{
    /* Colors */
    --main-color: #2F3E46;
    --shadow-purple: #8963F5;
    --shadow-yellow: #F2F563;
    --shadow-orange: #F5B263;
    --shadow-cyan: #4BEBD8;
    --shadow-red: #F56398;
    --shadow-blue: #637AF5;
    --btn-calculator: #3D4C56;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

body{
    font-family: 'DM Sans', sans-serif;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-y: hidden; */
    background-color: #FAFAFA;
}

.desktop {
    display: block;
}
.mobile {
    display: none;
}

.title {
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.title h1{
    color: var(--main-color);
    font-weight: 700;
    font-size: 52px;
}

/* ----------------- INDEX ------------------ */
.main-cards{
    /* border: 2px solid var(--main-color); */
    width: 900px;
    height: 400px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 74px;
    justify-items: center;
}

.main-cards a{
    text-decoration: none;
}

.card{
    border: 3px solid var(--main-color);
    border-radius: 16px;
    width: 204px;
    height: 134px;
    padding: 0 20px;
    color: var(--main-color);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover{
    cursor: pointer;
}

.card h3{
    font-size:22px;
}

.shadow-purple{
    box-shadow: 4px 4px 0px 0px var(--shadow-purple);
}

.shadow-purple:hover{
    box-shadow: 7px 7px 0px 0px var(--shadow-purple);
}

.shadow-yellow{
    box-shadow: 4px 4px 0px 0px var(--shadow-yellow);
}

.shadow-yellow:hover{
    box-shadow: 7px 7px 0px 0px var(--shadow-yellow);
}

.shadow-orange{
    box-shadow: 4px 4px 0px 0px var(--shadow-orange);
}

.shadow-orange:hover{
    box-shadow: 7px 7px 0px 0px var(--shadow-orange);
}

.shadow-cyan{
    box-shadow: 4px 4px 0px 0px var(--shadow-cyan);
}

.shadow-cyan:hover{
    box-shadow: 7px 7px 0px 0px var(--shadow-cyan);
}

.shadow-red{
    box-shadow: 4px 4px 0px 0px var(--shadow-red);
}

.shadow-red:hover{
    box-shadow: 7px 7px 0px 0px var(--shadow-red);
}

.shadow-blue{
    box-shadow: 4px 4px 0px 0px var(--shadow-blue);
}

.shadow-blue:hover{
    box-shadow: 7px 7px 0px 0px var(--shadow-blue);
}


/* ----------------- BG CHANGER ------------------ */
.back-arrow{
    margin-right: 40px;
    transition: all 0.3s ease-in-out;
}
.back-arrow:hover{
    transform: translateX(-8px);
}

.btn-changer{
    border: 3px solid var(--main-color);
    border-radius: 16px;
    margin: 100px 0;
    width: 320px;
    height: 100px;
    padding: 0 20px;
    color: var(--main-color);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in-out;
}

.btn-changer:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: #FAFAFA;
}

.code{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code h3{
    font-size: 22px;
    color: var(--main-color);
    margin-bottom: 30px;
}

.code img{
    width: 800px;
    border-radius: 10px;
}


/* -------------- COUNTER -------------- */

.container-counter{
    display: flex;
    /* border: 3px solid var(--main-color); */
    margin: 60px 0;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.btn-count{
    background-color: var(--shadow-blue);
    color: #FAFAFA;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* padding: 10px; */
    margin:  0 60px;
    font-size: 28px;
    font-weight: 700;
    transition: all 0.2s ease
}

.btn-count:hover{
    cursor: pointer;
    background-color: #495dcf;
}
.counter-number{
    background-color: #FFF;
    border: 3px solid var(--main-color);
    border-radius: 16px;
    padding: 0px 50px;

}

.counter-number h2{
    font-size: 54px;
    color: var(--main-color);
}

.container-btn-restart{
    display: flex;
    justify-content:center;
}

.btn-restart-counter{
    background-color: var(--main-color);
    color: #FAFAFA;
    border: none;
    width: 140px;
    height: 60px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    margin-bottom: 120px;
    transition: all 0.2s ease
}

.btn-restart-counter:hover{
    cursor: pointer;
    background-color: #40535d;
}

/* -------------- CLOCK -------------- */
.container-clock{
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.clock{
    width: 25rem;
    height: 25rem;
    background-color: var(--main-color);
    border-radius: 50%;
    padding: 2rem;
}

.clock-face {
    position: relative;
    background: var(--main-color);
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
  
.clock-face::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg)
}
  
.clock-face::after,
.clock-face::before,
.clock-face .marking{
    content: '';
    position: absolute;
    width: 5px;
    border-radius: 2px;
    height: 100%;
    background: var(--shadow-cyan);
    z-index: 0;
    left: 49%;
}

.clock-face .marking {
    background: #bdbdcb;
    width: 3px;
    border-radius: 2px;
  }
  
.clock-face .marking.marking-one {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg)
}
  
.clock-face .marking.marking-two {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg)
}
  
.clock-face .marking.marking-three {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    transform: rotate(120deg)
}
  
.clock-face .marking.marking-four {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    transform: rotate(150deg)
}

.clock-center {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: var(--main-color);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
  }
  
  .clock-center::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    background: #415561;
    z-index: 11;
  }

  .hand {
    width: 50%;
    right: 50%;
    height: 6px;
    background: var(--shadow-blue);
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }
  
  .hand.hour-hand {
    width: 30%;
    z-index: 3;
  }
  
  .hand.min-hand {
    height: 4px;
    z-index: 10;
    width: 45%;
  }
  
  .hand.second-hand {
    background: var(--shadow-red);
    width: 50%;
    height: 2px;
  }


/* -------------- LETTER COUNTER -------------- */

.container-letter-counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.txt-area{
    width: 100%;
    height: 100px;
    resize: none;
    border: 3px solid var(--main-color);
    border-radius: 10px;
    margin-bottom:8px;
    padding: 10px;
    font-size: 16px;
} 

.counting-letters{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 8px;
    
}

.count-letter{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
}


/*----------------CALCULATOR-----------------*/

.calculator-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.calculator-container{
    background-color: var(--main-color);
    width: 400px;
    height: 500px;
    border-radius: 14px;
    margin: 30px auto;
    padding: 12px;
}

.input-container{
    width: 100%;
    height: 80px;
    background-color: #FAFAFA;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, minmax(40px, auto));
    align-items: center;
    word-wrap: break-word;
    border: none;
   
}

.answer-calculator{
    text-align: right;
    padding-right: 10px;
    font-size: 24px;
    color: var(--btn-calculator);
    border-radius: 8px;
    font-weight: 600;
}

.current-input{
    font-size: 34px;
    color: var(--main-color);
    font-weight: 700;
    padding-right: 10px;
    text-align: right;
    word-wrap: break-word;
    border-radius: 8px;
}

.lg-btn-container{
    display: flex;
    justify-content: space-around;
    margin: 12px 0 12px 0;
    height: 66px;
}

.btn-clear{
    width: 100%;
    border: none;
    border-radius: 6px;
    margin-right: 6px;
    font-size: 28px;
    font-weight: 700;
    background-color: var(--shadow-blue);
    color: #FAFAFA;
    transition: 0.1s ease-in-out;
}

.btn-clear:hover{
    background-color: #5d6fd6;
    cursor: pointer;
}

.btn-delete{
    width: 100%;
    border: none;
    border-radius: 6px;
    margin-left: 6px;
    background-color: var(--shadow-red);
    transition: 0.1s ease-in-out;

}
.btn-delete:hover{
    background-color: #e0578a;
    cursor: pointer;
}

.btn-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    column-gap: 8px;
    row-gap: 8px;
}

.btn-num{
    background-color: var(--main-color);
    height: 70px;
    border-radius: 6px;
    border: none;
    color: #FAFAFA;
    font-size: 28px;
    font-weight: 700;
}

.btn-num:hover{
    background-color: #3a4852;
    cursor: pointer;
}

.btn-func{
    background-color: var(--main-color);
    height: 70px;
    border-radius: 6px;
    border: none;
    color: var(--shadow-cyan);
    font-size: 28px;
    font-weight: 700;
}

.btn-func:hover{
    background-color: #3a4852;
    cursor: pointer;
}

@media screen and (max-width: 880px){
    body{
        overflow-y: auto;
    }

    .main-cards{
        width: 700px;
        margin-top: 80px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 14px;
        row-gap: 50px;
    }

    .card{
        width: 240px;
        height: 160px;
    }

    .txt-area{
        width: 800px;
        height: 100px;
    }
}

@media screen and (max-width: 732px){
    .title h1{
        font-size: 42px;
    }

   .main-cards{
        width: 600px;
        margin-top: 60px;
    }

    .code img{
        width: 600px;
    }

    .txt-area{
        width: 600px;
        height: 100px;
    }
}

@media screen and (max-width: 605px){
    .title {
        margin: 14px 0;
    }
    .title h1{
        font-size: 34px;
    }

   .main-cards{
        width: 550px;
        margin-top: 40px;
    }

    .back-arrow{
        margin-right: 20px;
        transition: all 0.3s ease-in-out;
    }

    .back-arrow img{
        width: 30px;
    }

    .code img{
        width: 500px;
    }

    .txt-area{
        width: 500px;
        height: 100px;
    }
    
}

@media screen and (max-width: 548px){
    .title h1{
        font-size: 32px;
    }

    .main-cards{
        width: 700px;
        height: auto;
        margin-top: 87px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .card{
        width: 340px;
        height: 220px;
    }

    .card h3{
        font-size: 28px;
        font-weight: 700;
    }

    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }

    .btn-changer{
        font-size: 18px;
        margin: 60px 0;
        width: 280px;
        height: 80px;
        padding: 0 10px;
    }

    .txt-area{
        width: 500px;
        height: 100px;
    }
}

@media screen and (max-width: 465px){
    .title h1{
        font-size: 28px;
    }

    .card{
        width: 300px;
        height: 180px;
    }

    .card h3{
        font-size: 24px;
        font-weight: 700;
    }

    .code img{
        width: 380px;
    }

    .txt-area{
        width: 400px;
        height: 100px;
    }
}

@media screen and (max-width: 450px){
    .txt-area{
        width: 350px;
        height: 100px;
    }

    .clock{
        width: 20rem;
        height: 20rem;
        padding: 1rem;
    }
}