@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root{
    /* Colors */
    --main-color: #2F3E46;
    /* Colors */
    --shadow-purple: #8963F5;
    --shadow-yellow: #F2F563;
    --shadow-orange: #F5B263;
    --shadow-cyan: #4BEBD8;
    --shadow-red: #F56398;
    --shadow-blue: #637AF5;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

body{
    font-family: 'DM Sans', sans-serif;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    background-color: #FAFAFA;
}

.title {
    margin: 30px 0;
}

.title h1{
    color: var(--main-color);
    font-weight: 700;
    font-size: 52px;
}

.main-cards{
    /* border: 2px solid var(--main-color); */
    width: 900px;
    height: 400px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 74px;
    justify-items: center;
}

.card{
    border: 3px solid var(--main-color);
    border-radius: 16px;
    width: 204px;
    height: 134px;
    padding: 0 20px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover{
    cursor: pointer;
}

.card h3{
    font-size:22px;
}

.shadow-purple{
    box-shadow: 4px 4px 0px 0px var(--shadow-purple);
}

.shadow-purple:hover{
    box-shadow: 7px 7px 0px 0px var(--shadow-purple);
}

.shadow-yellow{
    box-shadow: 4px 4px 0px 0px var(--shadow-yellow);
}

.shadow-yellow:hover{
    box-shadow: 7px 7px 0px 0px var(--shadow-yellow);
}

.shadow-orange{
    box-shadow: 4px 4px 0px 0px var(--shadow-orange);
}

.shadow-orange:hover{
    box-shadow: 7px 7px 0px 0px var(--shadow-orange);
}

.shadow-cyan{
    box-shadow: 4px 4px 0px 0px var(--shadow-cyan);
}

.shadow-cyan:hover{
    box-shadow: 7px 7px 0px 0px var(--shadow-cyan);
}

.shadow-red{
    box-shadow: 4px 4px 0px 0px var(--shadow-red);
}

.shadow-red:hover{
    box-shadow: 7px 7px 0px 0px var(--shadow-red);
}

.shadow-blue{
    box-shadow: 4px 4px 0px 0px var(--shadow-blue);
}

.shadow-blue:hover{
    box-shadow: 7px 7px 0px 0px var(--shadow-blue);
}

@media screen and (max-width: 880px){
    body{
        overflow-y: auto;
    }

    .main-cards{
        width: 700px;
        margin-top: 80px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 14px;
        row-gap: 50px;
    }

    .card{
        width: 240px;
        height: 160px;
    }
}

@media screen and (max-width: 732px){
    .title h1{
        font-size: 42px;
    }

   .main-cards{
        width: 600px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 605px){
    .title {
        margin: 14px 0;
    }
    .title h1{
        font-size: 34px;
    }

   .main-cards{
        width: 550px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 548px){
    .title h1{
        font-size: 32px;
    }

    .main-cards{
        width: 700px;
        margin-top: 80px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 14px;
        row-gap: 50px;
    }

    .card{
        width: 340px;
        height: 220px;
    }

    .card h3{
        font-size: 28px;
        font-weight: 700;
    }
}

@media screen and (max-width: 465px){
    .title h1{
        font-size: 28px;
    }

    .card{
        width: 300px;
        height: 180px;
    }

    .card h3{
        font-size: 24px;
        font-weight: 700;
    }
}